---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/pulpecja/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1527777599'
      Etag:
      - W/"be2a29c0b6981418a428c58b5fa20a70"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":59934994,"node_id":"MDEwOlJlcG9zaXRvcnk1OTkzNDk5NA==","name":"euro-typer","full_name":"pulpecja/euro-typer","owner":{"login":"pulpecja","id":5381091,"node_id":"MDQ6VXNlcjUzODEwOTE=","avatar_url":"https://avatars0.githubusercontent.com/u/5381091?v=4","gravatar_id":"","url":"https://api.github.com/users/pulpecja","html_url":"https://github.com/pulpecja","followers_url":"https://api.github.com/users/pulpecja/followers","following_url":"https://api.github.com/users/pulpecja/following{/other_user}","gists_url":"https://api.github.com/users/pulpecja/gists{/gist_id}","starred_url":"https://api.github.com/users/pulpecja/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pulpecja/subscriptions","organizations_url":"https://api.github.com/users/pulpecja/orgs","repos_url":"https://api.github.com/users/pulpecja/repos","events_url":"https://api.github.com/users/pulpecja/events{/privacy}","received_events_url":"https://api.github.com/users/pulpecja/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pulpecja/euro-typer","description":null,"fork":false,"url":"https://api.github.com/repos/pulpecja/euro-typer","forks_url":"https://api.github.com/repos/pulpecja/euro-typer/forks","keys_url":"https://api.github.com/repos/pulpecja/euro-typer/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pulpecja/euro-typer/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pulpecja/euro-typer/teams","hooks_url":"https://api.github.com/repos/pulpecja/euro-typer/hooks","issue_events_url":"https://api.github.com/repos/pulpecja/euro-typer/issues/events{/number}","events_url":"https://api.github.com/repos/pulpecja/euro-typer/events","assignees_url":"https://api.github.com/repos/pulpecja/euro-typer/assignees{/user}","branches_url":"https://api.github.com/repos/pulpecja/euro-typer/branches{/branch}","tags_url":"https://api.github.com/repos/pulpecja/euro-typer/tags","blobs_url":"https://api.github.com/repos/pulpecja/euro-typer/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pulpecja/euro-typer/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pulpecja/euro-typer/git/refs{/sha}","trees_url":"https://api.github.com/repos/pulpecja/euro-typer/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pulpecja/euro-typer/statuses/{sha}","languages_url":"https://api.github.com/repos/pulpecja/euro-typer/languages","stargazers_url":"https://api.github.com/repos/pulpecja/euro-typer/stargazers","contributors_url":"https://api.github.com/repos/pulpecja/euro-typer/contributors","subscribers_url":"https://api.github.com/repos/pulpecja/euro-typer/subscribers","subscription_url":"https://api.github.com/repos/pulpecja/euro-typer/subscription","commits_url":"https://api.github.com/repos/pulpecja/euro-typer/commits{/sha}","git_commits_url":"https://api.github.com/repos/pulpecja/euro-typer/git/commits{/sha}","comments_url":"https://api.github.com/repos/pulpecja/euro-typer/comments{/number}","issue_comment_url":"https://api.github.com/repos/pulpecja/euro-typer/issues/comments{/number}","contents_url":"https://api.github.com/repos/pulpecja/euro-typer/contents/{+path}","compare_url":"https://api.github.com/repos/pulpecja/euro-typer/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pulpecja/euro-typer/merges","archive_url":"https://api.github.com/repos/pulpecja/euro-typer/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pulpecja/euro-typer/downloads","issues_url":"https://api.github.com/repos/pulpecja/euro-typer/issues{/number}","pulls_url":"https://api.github.com/repos/pulpecja/euro-typer/pulls{/number}","milestones_url":"https://api.github.com/repos/pulpecja/euro-typer/milestones{/number}","notifications_url":"https://api.github.com/repos/pulpecja/euro-typer/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pulpecja/euro-typer/labels{/name}","releases_url":"https://api.github.com/repos/pulpecja/euro-typer/releases{/id}","deployments_url":"https://api.github.com/repos/pulpecja/euro-typer/deployments","created_at":"2016-05-29T09:09:35Z","updated_at":"2018-05-16T20:44:23Z","pushed_at":"2018-05-16T20:44:22Z","git_url":"git://github.com/pulpecja/euro-typer.git","ssh_url":"git@github.com:pulpecja/euro-typer.git","clone_url":"https://github.com/pulpecja/euro-typer.git","svn_url":"https://github.com/pulpecja/euro-typer","homepage":null,"size":1435,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":47881192,"node_id":"MDEwOlJlcG9zaXRvcnk0Nzg4MTE5Mg==","name":"frutti_store","full_name":"pulpecja/frutti_store","owner":{"login":"pulpecja","id":5381091,"node_id":"MDQ6VXNlcjUzODEwOTE=","avatar_url":"https://avatars0.githubusercontent.com/u/5381091?v=4","gravatar_id":"","url":"https://api.github.com/users/pulpecja","html_url":"https://github.com/pulpecja","followers_url":"https://api.github.com/users/pulpecja/followers","following_url":"https://api.github.com/users/pulpecja/follo[...]
- request:
    method: get
    uri: https://api.github.com/users/pulpecjapulpecja/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1527777599'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/#list-user-repositories"}'
  recorded_at: Thu, 31 May 2018 13:38:15 GMT
recorded_with: VCR 4.0.0
