%div.container
  %div.content
    %img{ src: 'https://pbs.twimg.com/profile_images/1844491454/horse-js_400x400.png', class: 'logo', align: 'left'}
    %div.text
      %div.heading
        %strong horse_js
        %span.date
          7 days
      %div
        as much as I want to be, I'm not
        = link_to '@horse_js', 'https://twitter.com/horse_js'